{{#cp-panels accordion=true as |panels|}}
  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn">Power - 20oz - $5.75</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Strawberry Slam</p>
        <p>Java Jolt</p>
        <p>Berry Berry Good</p>
        <p>Chocolate Frosty</p>
        <p>Mango Crusher</p>
        <p>Hawaiian Harvest</p>
        <p>Chocolate Thinny Mint</p>
        <p>Organic Cookie Crunch</p>
        <p>Mo' Mass</p>
        <p>Pineapple Express</p>
        <p>Orange Creamsicle</p>
        <p>Tropical Triumph</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}

  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn" style = "animation-delay: 0.2s;">Veggie - 20oz - $6.25</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Coconut Grove</p>
        <p>Carrot Top</p>
        <p>Carrot Cake</p>
        <p>Tender Greens</p>
        <p>I &hearts; Veggies</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}

  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn" style = "animation-delay: 0.4s;">Meal Replacement - 20oz - $6.25</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Perfect Pi&ntilde;a</p>
        <p>Trail Mix</p>
        <p>Banana Nut Blast</p>
        <p>Peanut Butter Cup</p>
        <p>Banana Split</p>
        <p>Chocolate Elvis</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}

  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn" style = "animation-delay: 0.6s;">Kids Blendz - 12oz - $4.25</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Jr. Chocolate Frosty</p>
        <p>Razzleberry</p>
        <p>Cookie Monster</p>
        <p>Strawberry Shortcake</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}

  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn" style = "animation-delay: 0.8s;">Trim &amp; Low Cal - 20oz - $5.75</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Berry Trim</p>
        <p>Body Shredder</p>
        <p>Mocha Melt</p>
        <p>6 Pack Attack</p>
        <p>PB Cup Lite</p>
        <p>Pi&ntilde;a Cream</p>
        <p>Pink Lemon-aid</p>
        <p>L&hearts;vable Low-Cal</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}

  {{#panels.panel as |panel|}}
    {{#panel.toggle}}
      <p class = "fadeIn" style = "animation-delay: 1.0s;">Caffe BLENDZ - 20oz - $5.50</p>
    {{/panel.toggle}}
    {{#panel.body}}
      <div>
        <p>Almond Mocha</p>
        <p>Chocolate Latte</p>
        <p>Ja' Mocha</p>
        <p>Chocolate Caramel De-Lite</p>
        <p>Vanilla Honey Chai</p>
        <p>Salted Caramel</p>
        <p>Latte Launch</p>
        <p>Toffee Bar</p>
      </div>
    {{/panel.body}}
  {{/panels.panel}}
{{/cp-panels}}
