{{top-nav}}
<div id = "photoContainer" class = "fadeIn"></div>
<h2 class = "fadeIn" style = "text-align: center; animation-delay: 0.1s;">WHAT WE OFFER</h2>
<hr class = "fadeIn" style = "animation-delay: 0.2s;">
<div id = "aboutPageContainer" class = "fadeIn" style = "padding-left: 2em; animation-delay: 0.4s;">
  <h1>Preworkout</h1>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>...</li>
  </ul>
  <h1>Protein Bars</h1>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <h1>Novelty Items</h1>
  <ul>
    <li>Protein Pizza</li>
    <li>Monster Protein</li>
    <li>...</li>
  </ul>
</div>
