{{top-nav}}
<div id = "photoContainer" class = "fadeIn"></div>
<h2 class = "fadeIn" style = "text-align: center; animation-delay: 0.1s;">WHAT WE BELIEVE IN</h2>
<hr class = "fadeIn" style = "animation-delay: 0.2s;">
<div id = "homepageContainer" >
  <div class = "container fadeIn" style = "animation-delay: 0.4s;">
    <div class = "row">
      <div class = "col-xs-4"><img src = "assets/images/Logo_forWeb_3.jpg" style = "width: 300px; height: 300px;"/></div>
      <div class = "col-xs-8"><p>Welcome to Fresh Blendz!! We are a full service organic juice bar located inside the beautiful LA Fitness in Bloomington, IL.
        For everyone striving for a healthy life, juicing is the new ‘smart’,
        and we are proud to to bring 100% fresh, organic fruit and veggie packed smoothies along with organic coffee to our community.
         We are open to the public, so come in and enjoy a pharmaceutical grade, plant concoction. Food is medicine!!!</p></div>
    </div>
  </div>
  <hr class = "fadeIn" style = "animation-delay: 0.6s;">
  <div class = "container fadeIn" style = "animation-delay: 0.7s;">
    <div class = "row">
      <div class = "col-xs-10" style = "margin-right: -10em; margin-left: -10em;">
        <p>"Love this little joint! Zach is super friendly and it helps that the shakes actually taste amazing. My favorite is thinny mint!" - <i>Sara Freed</i></p>
        <p>"Best shake place in town! Especially for a healthy meal replacement that tastes bomb" - <i>Logan Holmes</i></p>
        <p>"Not only great customer service but amazing drinks with lots of options! 10/10 recommend" - <i>Saige Cristela</i></p>
        <p>"I go to places <b>all over the country.</b> This place is up there with <b>the best</b> of them. Great shakes, awesome owner very knowledgeable guy.
          If you haven't tried one of their shakes don't worry, you're in good hands" - <i>Albert Vigil</i></p>
      </div>
      <div class = "col-xs-2"><img src = "assets/images/Logo_forWeb_1.jpg" style = "width: 300px; height: 300px;"/></div>
    </div>
  </div>
</div>
