<div id = "pageContainer" class = "fadeIn"></div>
<div style = "text-align: center; vertical-align: middle" class = "container fadeIn">
  <div class = "row">
    <div class = "col-sm-6">{{#link-to 'home-page' class = "welcomeButton"}}<span>Enter Site</span>{{/link-to}}</div>
    <div class = "col-sm-6"><button class = "welcomeButton"><span>Order Online</span></button></div>
  </div>
</div>
