{{top-nav}}
<div id = "LApageContainer">
  <h1 id = "laFitnessHomeTitle" class = "fadeIn">Fresh Blendz - LA Fitness</h1>
  <div class = "container fadeIn" style = "width: 100%;">
    <div class = "row">
      <div id = "menuColLA"class = "col-sm-8">
        <h1 id = "menuHeader">Menu</h1>
        {{menu-la}}
      </div>
      <div id = "aboutColLA" class = "col-sm-4">
        <h1>About</h1>
        <p>Welcome to Fresh Blendz - LA Fitness!!</p>
        <p>We are a full-service organic juice bar located inside of the beautiful LA Fitness in Bloomington, IL.
          For everyone striving for a healthy life, juicing is the new 'smart,' and we are proud to bring 100% fresh,
          organic fruit and veggie packed smoothies along with organic coffee to our community. We are open to the public,
          so come in and enjoy a pharmeceutical grade plant concoction. Food is medicine!!!</p>
        <p>Owned and operated by Zach Kennedy</p>
      </div>
    </div>
    <div class = "row">
      <div id = "reviewColLA" class = "col-sm-4">
        <h1>Reviews</h1>
        <p>"Love this little joint! Zach is super friendly and it helps that the shakes actually taste amazing. My favorite is thinny mint!" - <i>Sara Freed</i></p>
        <p>"Best shake place in town! Especially for a healthy meal replacement that tastes bomb" - <i>Logan Holmes</i></p>
        <p>"Not only great customer service but amazing drinks with lots of options! 10/10 recommend" - <i>Saige Cristela</i></p>
        <p>"I go to places <b>all over the country.</b> This place is up there with <b>the best</b> of them. Great shakes, awesome owner very knowledgeable guy.
          If you haven't tried one of their shakes don't worry, you're in good hands" - <i>Albert Vigil</i></p>
      </div>
      <div id = "photosColLA" class = "col-sm-8">
        <!--NOTE: THIS LOOKS SHITTY. FIGURE OUT A WAY TO MAKE IT LOOK BETTER!!
        <div class = "container" style = "width: 100%;">
          <div class = "row">
            <div class = "col-sm-4"><img src = "assets/images/happy_customers.jpg"/></div>
            <div class = "col-sm-4"><img id = "photo2LA" src = "assets/images/powders.jpg"/></div>
            <div class = "col-sm-4"><img id = "photoLA" src = "assets/images/smoothies.jpg"/></div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div id = "footer" class = "fadeIn">
    <p>Developed with &hearts; in Madison, WI and Bloomington, IL</p>
  </div>
</div>
{{outlet}}
