<div class = "container" id = "splashContainer">
  <div class = "row">
    <div class = "col-sm-4 fadeIn fill" id = "row1">
      <img src = "assets/images/la_fitness_bloomington.jpg"/>
      <div class="card locationCard">
        <div class="card-block">
          <h4 class="card-title">LA Fitness</h4>
          <p class="card-text">Located right inside of the LA Fitness in Bloomington</p><p class="card-text">2103 Veterans Pkwy</p><p class = "card-text">Bloomington IL 61704</p>
          
          <a href='la-fitness-home' class = "btn btn-primary">Enter</a>
        </div>
      </div>
    </div>
    <div class = "col-sm-4 fadeIn fill" id = "row2">
      <img src = "assets/images/golds_gym_bloomington.jpg"/>
      <div class="card locationCard">
        <div class="card-block">
          <h4 class="card-title">Gold's Gym</h4>
          <p class="card-text">Located right inside of the Gold's Gym in Normal</p><p class = "card-text">1503 E College Ave</p><p class="card-text">Normal, IL 61761</p>
          <a href="#" class="btn btn-primary">Enter</a>
        </div>
      </div>
    </div>
    <div class = "col-sm-4 fadeIn fill" id = "row3">
      <img src = "assets/images/four_seasons_bloomington.jpg"/>
      <div class="card locationCard">
        <div class="card-block">
          <h4 class="card-title">Four Seasons</h4>
          <p class="card-text">Located rihgt inside of the Four Seasons in Bloomington</p><p class = "card-text">904 Four Seasons Rd</p><p class="card-text">Bloomington, IL 61701</p>
          <a href="#" class="btn btn-primary">Enter</a>
        </div>
      </div>
    </div>
  </div>
</div>
